.kazari-code {
  position: relative;
  margin: 1rem 0;
}
.kazari-code pre {
  margin: 0;
  padding: 0;
  background: var(--kz-editor-bg);
  color: var(--kz-editor-fg);
  font-family: var(--kz-font-family);
  font-size: var(--kz-font-size);
  font-weight: var(--kz-font-weight);
  line-height: var(--kz-line-height);
  border-radius: var(--kz-radius);
  overflow-x: auto;
}
.kazari-code .frame pre {
  border-radius: 0;
}
.kazari-code .frame.is-terminal pre {
  background: var(--kz-terminal-bg, var(--kz-editor-bg));
}
.kazari-code pre code {
  display: block;
  padding: var(--kz-code-padding-block) 0;
  font-family: inherit;
}
.kazari-code .kz-line {
  display: grid;
  grid-template-areas: 'gutter code';
  grid-template-columns: auto 1fr;
  min-height: 1lh;
}
.kazari-code .kz-line .code {
  grid-area: code;
  padding-inline: var(--kz-code-padding-inline);
  white-space: pre;
}
.kazari-code pre.wrap .kz-line .code {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-indent: calc(var(--kz-indent, 0ch) * -1);
  padding-inline-start: calc(var(--kz-code-padding-inline) + var(--kz-indent, 0ch));
}
.kazari-code pre.wrap .kz-line .code .indent {
  white-space: pre;
}
