.kazari-code .kz-terminal-header {
  display: flex;
  align-items: center;
  padding: var(--kz-terminal-header-padding);
  background: var(--kz-terminal-titlebar-bg);
  border-bottom: 1px solid var(--kz-toolbar-border);
  position: relative;
}
.kazari-code .kz-terminal-header .kz-title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.875rem;
  font-family: var(--kz-ui-font-family);
  color: var(--kz-editor-fg);
  pointer-events: none;
}
.kazari-code .kz-terminal-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-inline-start: auto;
  z-index: 1;
}
